* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none; }

body {
  color: #777777;
  font-family: 'Lato', sans-serif;
  font-size: 16px; }
  body p {
    letter-spacing: 2px; }

section {
  margin-bottom: 60px; }
  section .container {
    margin: 0 auto;
    width: 1170px; }
    @media only screen and (max-width: 1265px) {
      section .container {
        width: 900px; } }
    @media only screen and (max-width: 920px) {
      section .container {
        width: 600px; } }
  section h2 {
    padding: 30px 0;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 40px;
    text-align: center; }
    section h2:before, section h2:after {
      margin: 30px auto;
      display: block;
      width: 105px;
      content: ""; }
    section h2:before {
      border-bottom: 3px #dc0000 solid; }
    section h2:after {
      border-top: 3px #dc0000 solid; }
    @media only screen and (max-width: 920px) {
      section h2 {
        padding: 1px 0; } }
  section h3 {
    color: #dc0000;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin: 30px 0; }

.top-menu {
  position: fixed;
  margin: 0 auto;
  width: 100%;
  z-index: 1;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }
  .top-menu .containerHeader {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    max-width: 1170px;
    width: 100%; }
    .top-menu .containerHeader .head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 90px;
      z-index: 2; }
      @media only screen and (max-width: 920px) {
        .top-menu .containerHeader .head {
          padding: 20px 50px;
          width: 100%; } }
    @media only screen and (max-width: 1265px) {
      .top-menu .containerHeader {
        padding: 0 20px;
        width: 100%; } }
    @media only screen and (max-width: 920px) {
      .top-menu .containerHeader {
        padding: 0;
        display: block; } }
  .top-menu.scrolled {
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    .top-menu.scrolled a {
      color: #333333; }
      .top-menu.scrolled a:hover, .top-menu.scrolled a:focus {
        color: #dc0000;
        text-decoration: underline;
        -webkit-transition: color 0.2s;
        transition: color 0.2s; }
  .top-menu nav.dropdown {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px; }
    .top-menu nav.dropdown li {
      display: inline-block;
      margin-right: 70px; }
      .top-menu nav.dropdown li:last-child {
        margin-right: 0; }
      .top-menu nav.dropdown li a {
        color: #ffffff; }
        .top-menu nav.dropdown li a:hover, .top-menu nav.dropdown li a:focus {
          color: #b6b6b6;
          text-decoration: underline;
          -webkit-transition: color 0.2s;
          transition: color 0.2s; }
    .top-menu nav.dropdown.dropped {
      position: fixed;
      display: block;
      margin-top: -90px;
      background-color: rgba(0, 0, 0, 0.95);
      width: 100%;
      height: 100vh;
      z-index: -10;
      text-align: center;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: center; }
      .top-menu nav.dropdown.dropped ul {
        width: 100%; }
        .top-menu nav.dropdown.dropped ul li {
          margin: 0;
          border-top: 2px solid #dc0000;
          width: 100%;
          height: 100px;
          box-sizing: content-box; }
          .top-menu nav.dropdown.dropped ul li:first-child {
            border: 0; }
          .top-menu nav.dropdown.dropped ul li a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%; }
    @media only screen and (max-width: 920px) {
      .top-menu nav.dropdown {
        display: none; } }
  .top-menu .navbar-toggle {
    border: 0;
    background: none;
    cursor: pointer; }
    .top-menu .navbar-toggle div {
      width: 35px;
      height: 5px;
      background-color: #dc0000;
      margin: 6px 0; }
    .top-menu .navbar-toggle:hover div {
      -webkit-transition: background-color 0.2s;
      transition: background-color 0.2s;
      background-color: #b6b6b6; }
    @media only screen and (min-width: 920px) {
      .top-menu .navbar-toggle {
        display: none; } }

/* Header with slider */
.mainHeader {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 90px;
  height: 100vh;
  background-image: linear-gradient(rgba(34, 37, 51, 0.4), rgba(34, 37, 51, 0.4)), url("../img/slider1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff; }
  .mainHeader ul {
    position: absolute;
    margin-bottom: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center; }
    .mainHeader ul li {
      margin: 0 5px;
      width: 12px;
      height: 12px;
      display: inline-block;
      border: 1px #ffffff solid;
      border-radius: 50%;
      cursor: pointer; }
      .mainHeader ul li.active {
        background-color: #ffffff;
        -webkit-transition: background-color 0.2s;
        transition: background-color 0.2s; }
  .mainHeader h2 {
    padding: 30px;
    font-size: 60px;
    font-size: 4.6vw;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap; }
  .mainHeader h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 30px;
    font-size: 2.4vw;
    text-align: center;
    text-transform: uppercase; }
    .mainHeader h3.above {
      letter-spacing: 10px; }
  .mainHeader a.shop {
    border: 2px #ffffff solid;
    margin-top: 30px;
    padding: 20px 50px;
    color: #ffffff;
    font-weight: 900;
    text-transform: uppercase; }
    .mainHeader a.shop:hover {
      background-color: rgba(255, 255, 255, 0.8);
      color: #333333;
      -webkit-transition: background-color 0.5s;
      transition: background-color 0.5s; }

/* Latest Products section */
.latestProducts__collections, .latestProducts__currentSales {
  display: flex;
  justify-content: center; }
  .latestProducts__collections > div, .latestProducts__currentSales > div {
    background-size: 100%;
    transition: background-size 0.4s ease-in; }
    @media only screen and (max-width: 1265px) {
      .latestProducts__collections > div, .latestProducts__currentSales > div {
        background-size: cover; } }
  .latestProducts__collections > div:hover, .latestProducts__currentSales > div:hover {
    background-size: 105%;
    transition: background-size 0.4s ease-in; }
    @media only screen and (max-width: 1265px) {
      .latestProducts__collections > div:hover, .latestProducts__currentSales > div:hover {
        background-size: cover; } }

.latestProducts__product {
  margin: 15px;
  padding: 30px;
  height: 418px;
  width: 370px;
  box-sizing: border-box; }
  @media only screen and (max-width: 920px) {
    .latestProducts__product {
      height: 300px;
      width: 100%;
      margin: 5px; } }
  .latestProducts__product a {
    position: relative;
    top: 0;
    transition: top 0.8s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    color: inherit;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    text-align: center; }
    .latestProducts__product a h3 {
      text-transform: inherit;
      font-size: 40px;
      color: #ffffff; }
    .latestProducts__product a p {
      position: absolute;
      padding: 2em;
      opacity: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      text-transform: uppercase;
      font-size: 14px;
      -webkit-transition: bottom 0.3s ease;
      transition: bottom 0.3s ease;
      -webkit-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
      color: #ffffff; }
      @media only screen and (max-width: 920px) {
        .latestProducts__product a p {
          font-size: 12px;
          padding: 1em; } }
    .latestProducts__product a:hover {
      top: -40px;
      transition: top 0.6s ease; }
      .latestProducts__product a:hover p {
        bottom: 20px;
        transition: bottom 0.6s ease;
        opacity: 1;
        -webkit-transition: opacity 0.6s;
        transition: opacity 0.6s; }
        @media only screen and (max-width: 920px) {
          .latestProducts__product a:hover p {
            bottom: 5px; } }
  .latestProducts__product.man-collection {
    background-image: linear-gradient(rgba(34, 37, 51, 0.7), rgba(34, 37, 51, 0.7)), url("../img/man.jpg");
    background-repeat: no-repeat;
    background-position: center center; }
  .latestProducts__product.woman-collection {
    background-image: linear-gradient(rgba(34, 37, 51, 0.7), rgba(34, 37, 51, 0.7)), url("../img/woman.jpg");
    background-repeat: no-repeat;
    background-position: center center; }
  .latestProducts__product.watches-collection {
    background-image: linear-gradient(rgba(34, 37, 51, 0.7), rgba(34, 37, 51, 0.7)), url("../img/watch.jpg");
    background-repeat: no-repeat;
    background-position: center center; }
  .latestProducts__product .innerBorder {
    background-color: transparent;
    height: 100%;
    border: 1px #ffffff solid; }

.latestProducts__sales {
  margin: 15px 15px 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 418px;
  width: 570px;
  box-sizing: border-box; }
  @media only screen and (max-width: 920px) {
    .latestProducts__sales {
      height: 300px;
      width: 100%;
      margin: 5px; } }
  .latestProducts__sales a {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 45px;
    font-size: 4vw;
    font-style: normal; }
    .latestProducts__sales a:before, .latestProducts__sales a:after {
      margin: 30px auto;
      display: block;
      width: 105px;
      content: ""; }
    .latestProducts__sales a:before {
      border-bottom: 1px #ffffff solid;
      transition: transform 0.4s ease-in; }
    .latestProducts__sales a:after {
      border-top: 1px #ffffff solid;
      transition: transform 0.4s ease-in; }
    .latestProducts__sales a:hover:before {
      transform: translateX(40px) scale(1.2, 1);
      transition: transform 0.4s ease-in; }
    .latestProducts__sales a:hover:after {
      transform: translateX(-40px) scale(1.2, 1);
      transition: transform 0.4s ease-in; }
  .latestProducts__sales.autumn-collection {
    background-image: linear-gradient(rgba(34, 37, 51, 0.7), rgba(34, 37, 51, 0.7)), url("../img/autumn.jpg");
    background-repeat: no-repeat;
    background-position: center center; }
  .latestProducts__sales.spirit-collection {
    background-image: linear-gradient(rgba(34, 37, 51, 0.7), rgba(34, 37, 51, 0.7)), url("../img/spirit.jpg");
    background-repeat: no-repeat;
    background-position: center center; }

/*Trending Items section */
.trendingItems {
  position: relative;
  background-image: url("../img/itemsbg.jpg");
  background-size: cover;
  padding-bottom: 60px; }
  .trendingItems a {
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase; }
  .trendingItems__itemsContainer {
    margin: 0 auto;
    overflow: hidden;
    width: 1170px; }
    @media only screen and (max-width: 1265px) {
      .trendingItems__itemsContainer {
        width: 880px; } }
    @media only screen and (max-width: 920px) {
      .trendingItems__itemsContainer {
        width: 600px; } }
  .trendingItems__item {
    display: inline-flex;
    width: 5000px;
    transform: translateX(0);
    transition: transform 0.8s ease-in-out; }
    .trendingItems__item div.content {
      float: left;
      width: 1170px;
      height: auto;
      white-space: normal;
      display: flex; }
      @media only screen and (max-width: 920px) {
        .trendingItems__item div.content {
          flex-direction: column;
          justify-content: center;
          align-items: center; } }
    .trendingItems__item .imgWrapper {
      margin-right: 30px; }
      .trendingItems__item .imgWrapper img {
        max-width: 570px;
        height: auto;
        max-height: 570px; }
        @media only screen and (max-width: 1265px) {
          .trendingItems__item .imgWrapper img {
            width: 400px; } }
  .trendingItems__details {
    width: 100%; }
    @media only screen and (max-width: 1265px) {
      .trendingItems__details {
        max-width: 400px; } }
    @media only screen and (max-width: 920px) {
      .trendingItems__details {
        width: 100%; } }
    @media only screen and (max-width: 1265px) {
      .trendingItems__details h3 {
        margin: 0 0 10px; } }
    @media only screen and (max-width: 920px) {
      .trendingItems__details h3 {
        margin: 20px 0 10px; } }
    .trendingItems__details h4 {
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 16px; }
      .trendingItems__details h4:after {
        margin: 30px 0;
        content: "";
        width: 30px;
        display: block;
        border-top: 1px black solid; }
        @media only screen and (max-width: 1265px) {
          .trendingItems__details h4:after {
            margin: 15px 0; } }
    .trendingItems__details p.tip {
      padding-top: 35px; }
    .trendingItems__details > a {
      margin-right: 30px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 170px;
      border-style: solid;
      border-color: #333333;
      border-width: 1px; }
      .trendingItems__details > a:hover, .trendingItems__details > a:focus {
        background-color: #333333;
        color: #ffffff;
        -webkit-transition: background-color 0.3s;
        transition: background-color 0.3s; }
      @media only screen and (max-width: 1265px) {
        .trendingItems__details > a {
          margin: 0 15px 0 0; } }
    .trendingItems__details ul.trendingItems__sizes {
      margin: 90px 0 30px; }
      @media only screen and (max-width: 1265px) {
        .trendingItems__details ul.trendingItems__sizes {
          margin-top: 30px; } }
      .trendingItems__details ul.trendingItems__sizes li {
        margin-right: 30px;
        display: inline-block;
        height: 50px;
        width: 70px;
        border-style: solid;
        border-color: #333333;
        border-width: 1px;
        -webkit-transition: background-color 0.3s;
        transition: background-color 0.3s; }
        .trendingItems__details ul.trendingItems__sizes li a {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%; }
          .trendingItems__details ul.trendingItems__sizes li a:hover, .trendingItems__details ul.trendingItems__sizes li a:focus {
            background-color: #333333;
            color: #ffffff;
            -webkit-transition: background-color 0.3s;
            transition: background-color 0.3s; }
        .trendingItems__details ul.trendingItems__sizes li.active a {
          color: #ffffff;
          background-color: #333333;
          -webkit-transition: background-color 0.3s;
          transition: background-color 0.3s; }
          .trendingItems__details ul.trendingItems__sizes li.active a:hover, .trendingItems__details ul.trendingItems__sizes li.active a:focus {
            background-color: #333333; }
  .trendingItems ul.chooseItem {
    margin-top: 45px;
    bottom: 0;
    text-align: center; }
    .trendingItems ul.chooseItem li {
      margin: 0 4px;
      width: 12px;
      height: 12px;
      display: inline-flex;
      background-color: #878787;
      border-radius: 50%;
      cursor: pointer; }
      .trendingItems ul.chooseItem li.active {
        box-sizing: content-box;
        width: 12px;
        height: 12px;
        border: 2px solid #dc0000;
        background-color: transparent; }

/* Blog Preview */
.fromBlog {
  position: relative;
  margin: 0 auto;
  padding-bottom: 60px; }
  .fromBlog__container {
    margin: 0 auto;
    width: 1170px;
    overflow: hidden; }
    @media only screen and (max-width: 1265px) {
      .fromBlog__container {
        width: 860px; } }
  .fromBlog__blog {
    width: 2500px;
    transform: translateX(0);
    transition: transform 0.8s ease-in; }
  .fromBlog__item {
    padding: 0 15px;
    float: left;
    height: auto;
    width: 500px; }
    .fromBlog__item img {
      width: 100%; }
    .fromBlog__item a {
      color: inherit; }
      .fromBlog__item a:hover, .fromBlog__item a:focus {
        text-decoration: underline; }
  .fromBlog__info {
    display: inline-flex;
    margin-bottom: 30px;
    font-size: 16px; }
    .fromBlog__info__author::before {
      content: "By "; }
    .fromBlog__info__category::before {
      content: "|";
      margin: 0 15px; }
  .fromBlog__text {
    padding: 30px 0;
    border-top: 1px solid #ecf0f1;
    border-bottom: 1px solid #ecf0f1;
    color: #b6b6b6; }
  .fromBlog footer {
    margin-top: 30px; }
    .fromBlog footer a {
      display: inline-block;
      padding: 20px 40px;
      border: 1px solid #333333;
      color: #333333;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase; }
      .fromBlog footer a:hover, .fromBlog footer a:focus {
        background-color: #333333;
        color: #ffffff;
        -webkit-transition: background-color 0.3s;
        transition: background-color 0.3s;
        text-decoration: none; }
  .fromBlog .blog-nav {
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 0;
    right: 0;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-self: center;
    font-size: 50px; }
    @media only screen and (max-width: 1265px) {
      .fromBlog .blog-nav {
        max-width: 1000px; } }
    .fromBlog .blog-nav * {
      margin: 0 10px;
      color: #c1c1c1;
      background-color: transparent;
      cursor: pointer; }
      .fromBlog .blog-nav *.disable {
        opacity: 0.3; }

/*Subscription form */
.subscribe {
  margin-bottom: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  color: #ffffff;
  background-image: -webkit-linear-gradient(rgba(34, 37, 51, 0.7), rgba(34, 37, 51, 0.7)), url("../img/subscriptionbg.jpg");
  background-image: -o-linear-gradient(rgba(34, 37, 51, 0.7), rgba(34, 37, 51, 0.7)), url("../img/subscriptionbg.jpg");
  background-image: linear-gradient(rgba(34, 37, 51, 0.7), rgba(34, 37, 51, 0.7)), url("../img/subscriptionbg.jpg");
  background-size: cover;
  background-position: center center; }
  .subscribe p {
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 0;
    text-transform: uppercase; }
  .subscribe form {
    display: inline-block; }
  .subscribe input {
    height: 70px;
    width: 770px;
    padding-left: 80px;
    border: 1px solid #ffffff;
    color: #ffffff;
    background-color: transparent;
    background-image: url("../img/email.png");
    background-repeat: no-repeat;
    background-position: 30px center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 13px;
    text-transform: uppercase; }
    @media only screen and (max-width: 1265px) {
      .subscribe input {
        width: 560px; } }
    @media only screen and (max-width: 920px) {
      .subscribe input {
        width: 400px; } }
  .subscribe button {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 100px;
    height: 70px;
    width: 270px; }
    @media only screen and (max-width: 1265px) {
      .subscribe button {
        margin-left: 50px;
        width: 200px; } }
    @media only screen and (max-width: 920px) {
      .subscribe button {
        margin-left: 20px;
        width: 150px; } }
    .subscribe button:hover {
      background-color: rgba(0, 0, 0, 0.5);
      border: 1px solid #ffffff;
      color: #ffffff;
      -webkit-transition: background-color 0.2s;
      transition: background-color 0.2s; }

/* Footer */
body > footer {
  height: 160px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 920px) {
    body > footer {
      height: 60px; } }
  body > footer img {
    margin: 0 5px; }
