* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none; }

body {
  color: #777777;
  font-family: 'Lato', sans-serif;
  font-size: 18px; }
  body section {
    margin-bottom: 60px; }
    body section .container {
      margin: 0 auto;
      max-width: 1170px; }

section h2 {
  padding: 30px 0;
  color: #333333;
  font-family: 'Open-Sans', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 40px;
  text-align: center; }
  section h2:before, section h2:after {
    margin: 30px auto;
    display: block;
    width: 105px;
    content: ""; }
  section h2:before {
    border-bottom: 3px #dc0000 solid; }
  section h2:after {
    border-top: 3px red solid; }

.top-menu {
  position: fixed;
  width: 100%;
  display: inline-flex;
  z-index: 99;
  justify-content: space-between;
  height: 90px; }
  .top-menu > a {
    align-self: center;
    margin-left: 35px; }

#menu {
  align-self: center; }
  #menu ul {
    font-family: 'Open-Sans', sans-serif;
    font-size: 18px; }
    #menu ul li {
      display: inline-block;
      margin-right: 35px; }
      #menu ul li a {
        color: white; }

.mainHeader {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 90px;
  height: 100vh;
  background-image: url("../img/slider1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white; }
  .mainHeader ul {
    position: absolute;
    margin-bottom: 60px;
    bottom: 0; }
    .mainHeader ul li {
      margin: 0 5px;
      width: 12px;
      height: 12px;
      display: inline-block;
      border: 1px white solid;
      border-radius: 50%; }
      .mainHeader ul li.active {
        background-color: white; }

.mainHeader__slider {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mainHeader__slider h2 {
    font-size: 60px;
    padding: 30px; }
  .mainHeader__slider h3 {
    font-family: 'Open-Sans', sans-serif;
    font-weight: 300;
    font-size: 30px;
    text-transform: uppercase; }
    .mainHeader__slider h3.above {
      letter-spacing: 10px; }
  .mainHeader__slider > a {
    border: 2px white solid;
    margin-top: 30px;
    padding: 20px 50px;
    color: white;
    font-weight: 900; }
    .mainHeader__slider > a:hover {
      background-color: rgba(232, 232, 232, 0.3); }

.latestProducts_collections, .latestProducts__currentSales {
  display: flex;
  justify-content: center; }

.latestProducts__product {
  margin: 15px;
  padding: 30px;
  height: 418px;
  width: 370px;
  box-sizing: border-box; }
  .latestProducts__product a {
    display: flex;
    width: 100%;
    height: 100%;
    font-family: 'Open-Sans', sans-serif;
    font-style: italic;
    font-size: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white; }
  .latestProducts__product.man-collection {
    background-image: linear-gradient(rgba(34, 37, 51, 0.7), rgba(34, 37, 51, 0.7)), url("../img/man.jpg");
    background-repeat: no-repeat; }
  .latestProducts__product.woman-collection {
    background-image: linear-gradient(rgba(34, 37, 51, 0.7), rgba(34, 37, 51, 0.7)), url("../img/woman.jpg");
    background-repeat: no-repeat; }
  .latestProducts__product.watches-collection {
    background-image: linear-gradient(rgba(34, 37, 51, 0.7), rgba(34, 37, 51, 0.7)), url("../img/watch.jpg");
    background-repeat: no-repeat; }
  .latestProducts__product .innerBorder {
    height: 100%;
    border: 1px white solid; }

.latestProducts__sales {
  margin: 15px 15px 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 418px;
  width: 570px;
  box-sizing: border-box; }
  .latestProducts__sales a {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 45px;
    font-style: normal; }
    .latestProducts__sales a:before, .latestProducts__sales a:after {
      margin: 30px auto;
      display: block;
      width: 105px;
      content: ""; }
    .latestProducts__sales a:before {
      border-bottom: 1px white solid; }
    .latestProducts__sales a:after {
      border-top: 1px white solid; }
  .latestProducts__sales.autumn-collection {
    background-image: linear-gradient(rgba(34, 37, 51, 0.7), rgba(34, 37, 51, 0.7)), url("../img/autumn.jpg");
    background-repeat: no-repeat; }
  .latestProducts__sales.spirit-collection {
    background-image: linear-gradient(rgba(34, 37, 51, 0.7), rgba(34, 37, 51, 0.7)), url("../img/spirit.jpg");
    background-repeat: no-repeat; }

.trendingItems {
  background-image: url("../img/itemsbg.jpg");
  padding-bottom: 60px; }
  .trendingItems a {
    color: #333333;
    font-family: 'Open-Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase; }
  .trendingItems__item {
    display: flex; }
    .trendingItems__item img {
      height: 570px;
      margin-right: 30px; }
  .trendingItems__details h3 {
    color: #dc0000;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin: 30px 0; }
  .trendingItems__details h4 {
    font-family: 'Open-Sans', sans-serif;
    font-weight: 400;
    font-size: 18px; }
    .trendingItems__details h4:after {
      margin: 30px 0;
      content: "";
      width: 30px;
      display: block;
      border-top: 1px black solid; }
  .trendingItems__details p.tip {
    padding-top: 35px; }
  .trendingItems__details > a {
    margin-right: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 170px;
    border-style: solid;
    border-color: #333333 #aeaeae;
    border-width: 1px; }
    .trendingItems__details > a:hover, .trendingItems__details > a:focus {
      background-color: #333333;
      color: #ffffff; }
  .trendingItems__details ul.trendingItems__sizes {
    margin: 95px 0 30px; }
    .trendingItems__details ul.trendingItems__sizes li {
      margin-right: 30px;
      display: inline-block;
      height: 50px;
      width: 70px;
      border-style: solid;
      border-color: #333333 #aeaeae;
      border-width: 1px; }
      .trendingItems__details ul.trendingItems__sizes li a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%; }
      .trendingItems__details ul.trendingItems__sizes li.active {
        background-color: #333333; }
        .trendingItems__details ul.trendingItems__sizes li.active a {
          color: #ffffff; }
