$defaultTextColor: #777777;
$blogTextColor: #b6b6b6;
$lightElementsColor: #ffffff;
$mediumElementsColor: #878787;
$darkElementsColor: #333333;
$accentsColor: #dc0000;
$arrowsColor: #c1c1c1;
$textBorderColor: #ecf0f1;
$transparent80percent: rgba(255, 255, 255, 0.8);
$gradientOverlay: rgba(34, 37, 51, 0.7), rgba(34, 37, 51, 0.7);
$gradientOverlayHover: rgba(34, 37, 51, 0.7), rgba(255, 255, 255, 0.2);
$gradientSliderOverlay: rgba(34, 37, 51, 0.4), rgba(34, 37, 51, 0.4);

$down460: "only screen and (max-width: 460px)";
$down515: "only screen and (max-width: 515px)";
$down665: "only screen and (max-width: 665px)";
$down768: "only screen and (max-width: 768px)";
$up920: "only screen and (min-width: 920px)";
$down920: "only screen and (max-width: 920px)";
$down1265: "only screen and (max-width: 1265px)";
$up1265: "only screen and (min-width: 1265px)"; 

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-800px);
        transform: translateY(-800px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
} 

@keyframes fadeIn {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-800px);
        transform: translateY(-800px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@mixin fadeIn {
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
    -webkit-animation-duration: 0.8s;
            animation-duration: 0.8s;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-800px);
        transform: translateY(-800px)
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-800px);
        transform: translateY(-800px)
    }
}

@mixin fadeOut {
    -webkit-animation-name: fadeOut;
            animation-name: fadeOut;
    -webkit-animation-duration: 0.8s;
            animation-duration: 0.8s;
}

