$defaultTextColor: #777777;
$blogTextColor: #b6b6b6;
$lightElementsColor: #ffffff;
$mediumElementsColor: #878787;
$darkElementsColor: #333333;
$accentsColor: #dc0000;
$arrowsColor: #c1c1c1;
$textBorderColor: #ecf0f1;
$transparent80percent: rgba(255, 255, 255, 0.8);
$gradientOverlay: rgba(34, 37, 51, 0.7), rgba(34, 37, 51, 0.7);
$gradientOverlayHover: rgba(34, 37, 51, 0.7), rgba(255, 255, 255, 0.2);
$gradientSliderOverlay: rgba(34, 37, 51, 0.4), rgba(34, 37, 51, 0.4);

$up768: "only screen and (max-width: 920px)";
$up920: "only screen and (max-width: 1265px)";
$up1280: "only screen and (min-width: 1265px)"; 