* {
	margin: 0;
	padding: 0;	
	list-style: none;
	text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;

}

section h2 {
	position: relative;
	font-family: 'Open-Sans', sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 40px;
	text-align: center;		

	&:before, &:after {
		margin: 30px auto;
		display: block;
		width: 105px;
		content: "";
	}

	&:before {
		border-bottom: 3px #dc0000 solid;
	}

	&:after {
		border-top: 3px red solid;
	}
}

// .fixed-nav .mainHeader__navig {
// 	position: fixed;
// 	box-shadow: 0 5px rgba(0, 0, 0, 0.2);
// }

.container {
	margin: 0 auto;
	max-width: 1170px;
}

.top-menu {
	position: fixed;
	width: 100%;
	display: inline-flex;
	z-index: 99;
	justify-content: space-between;
	height: 90px;
	& > a {
		align-self: center;
		margin-left: 35px;
	}
}
#menu {
	align-self: center;
	ul {
		font-family: 'Open-Sans', sans-serif;
		font-size: 18px;

		li {
			display: inline-block;
			margin-right: 35px;

			a {
				color: white;
			}
		}
	}
}

.mainHeader {
	position: relative;
	display: flex;
	align-items: center;
	padding-top: 90px;
	height: 100vh;
	background: { 
		image: url('../img/slider1.jpg');
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	color: white;

	ul {
		position: absolute;
		margin-bottom: 60px;
		bottom: 0;

		li {
			margin: 0 5px;
			width: 12px;
			height: 12px;
			display: inline-block;
			border: 1px white solid;
			border-radius: 50%;
			
			&.active {
				background-color: white;
			}
		}
	}
}

.mainHeader__slider {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	h2 {
		font-size: 60px;
		padding: 30px;
	}

	h3 {
		font-family: 'Open-Sans', sans-serif;
		font-weight: 300;
		font-size: 30px;
		text-transform: uppercase;
		
		&.above {
			letter-spacing: 10px;
		}
	}

	& > a {
		border: 2px white solid;
		margin-top: 30px;
		padding: 20px 50px;
		color: white;
		font-weight: 900;

		&:hover {
			background-color: rgba(232, 232, 232, 0.3)
		}
	}
}

.latestProducts {
	&_collections, &__currentSales {
		display: flex;
	}

	a {
		display: flex;
		width: 100%;
		height: 100%;
		font-family: 'Open-Sans', sans-serif;
		font-style: italic;
		font-size: 40px;
		text-align: center;
		justify-content: center;
		align-items: center;
		color: white;
	}

	
	&__product {
		margin: 15px;
		padding: 30px;
		height: 418px;
		width: 370px;
		box-sizing: border-box;

		&.man-collection {
			background: {
				image: url('../img/man.jpg');
				repeat: no-repeat; 
			}
		}
		&.woman-collection {
			background: {
				image: url('../img/woman.jpg'); 
				repeat: no-repeat; 
			}
		}
		&.watches-collection {
			background: {
				image: url('../img/watch.jpg'); 
				repeat: no-repeat; 
			}
		}		
		.innerBorder {
			height: 100%;
			border: 1px red solid;
		}
	}

	&__sales {
		display: flex;
		justify-content: center;
		margin: 15px;
		height: 418px;
		width: 570px;
		box-sizing: border-box;

		&.autumn-collection {
			background: {
				image: url('../img/autumn.jpg');
				repeat: no-repeat; 
			}
		}
		&.spirit-collection {
			background: {
				image: url('../img/spring.jpg'); 
				repeat: no-repeat; 
			}
		}
	}

}
