@import "settings";

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

body {
	color: $defaultTextColor;
    font-family: 'Lato', sans-serif;
    font-size: 16px;

    p {
    	letter-spacing: 2px;
    }
}

section {
	margin-bottom: 60px;

	.container {
		margin: 0 auto;
		width: 1170px;

		@media #{$up920}{
			width: 900px;
		}

		@media #{$up768}{
			width: 600px;
		}
	}

	h2 {
		padding: 30px 0;
		color: $darkElementsColor;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-style: italic;
		font-size: 40px;
		text-align: center;		

		&:before, &:after {
			margin: 30px auto;
			display: block;
			width: 105px;
			content: "";
		}

		&:before {
			border-bottom: 3px $accentsColor solid;
		}

		&:after {
			border-top: 3px $accentsColor solid;
		}

		@media #{$up768}{
			padding: 1px 0;
		}
	}

	h3 {
		color: $accentsColor;
		text-transform: uppercase;
		font-family: 'Lato', sans-serif;
		font-size: 30px;
		font-weight: 700; //bold
		margin: 30px 0;
	}
}

.top-menu {
	position: fixed;
	margin: 0 auto;
	width: 100%;
	z-index: 99;
	-webkit-transition: background-color 0.3s; 
	transition: background-color 0.3s;

	& .container {	
		margin: 0 auto;
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 90px;
		max-width: 1170px;
		width: 100%;
		@media #{$up920}{
			padding: 0 20px;
			width: 100%;
		}
	}

	&.scrolled {
		background-color: $transparent80percent;
		-webkit-transition: background-color 0.3s; 
		transition: background-color 0.3s;
		a {
			color: $darkElementsColor;

			&:hover, &:focus {
				color: $accentsColor;
				text-decoration: underline;
				-webkit-transition: color 0.2s; 
				transition: color 0.2s;
			} 
		}
	}

	nav.dropdown {
		font-family: 'Open Sans', sans-serif;
		font-size: 18px;

		li {
			display: inline-block;
			margin-right: 70px;

			&:last-child {
				margin-right: 0;
			}

			a {
				color: $lightElementsColor;

				&:hover, &:focus {
					color: $blogTextColor;
					text-decoration: underline;
					-webkit-transition: color 0.2s; 
					transition: color 0.2s;
				} 
			}
		}

		&.dropped {
			display: block;
			background-color: $transparent80percent;
			width: 100%;
			z-index: 99;

			li {
				display: block;
				width: 100%;
				padding: 10px;


			}
		}

		@media #{$up768}{
			display: none;
		}
	}

	.navbar-toggle {
		border: 0;
		background: none;

		div {
			width: 35px;
			height: 5px;
			background-color: $accentsColor;
			margin: 6px 0;
		}

		&:hover div {
			-webkit-transition: background-color 0.2s; 
			transition: background-color 0.2s;
			background-color: $blogTextColor;
		}

		@media #{$upRight920}{
			display: none;
		}
	}
}


/* Header with slider */
.mainHeader {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	padding-top: 90px;
	height: 100vh;
	background: { 
		image: 
			linear-gradient($gradientSliderOverlay), 
			url('../img/slider1.jpg'); 
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	color: $lightElementsColor;

	ul {
		position: absolute;
		margin-bottom: 60px;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;

		li {
			margin: 0 5px;
			width: 12px;
			height: 12px;
			display: inline-block;
			border: 1px $lightElementsColor solid;
			border-radius: 50%;
			cursor: pointer;
			
			&.active {
				background-color: $lightElementsColor;
				-webkit-transition: background-color 0.2s; 
				transition: background-color 0.2s;
			}
		}
	}

	h2 {
		padding: 30px;		
		font-size: 60px;
		font-size: 4.6vw;		
		font-weight: 900; //black
		text-transform: uppercase;
		text-align: center;
		white-space: nowrap;
	}

	h3 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-size: 30px;
		font-size: 2.4vw;
		text-align: center;
		text-transform: uppercase;
		
		&.above {
			letter-spacing: 10px;
		}
	}

	a.shop {
		border: 2px $lightElementsColor solid;
		margin-top: 30px;
		padding: 20px 50px;
		color: $lightElementsColor;
		font-weight: 900;
		text-transform: uppercase;

		&:hover {
			background-color: $transparent80percent;
			color: $darkElementsColor;
			-webkit-transition: background-color 0.5s; 
			transition: background-color 0.5s;
		}
	}
}

/* Latest Products section */

.latestProducts {
	&__collections, &__currentSales {
		display: flex;
		justify-content: center;

		& > div {
			background-size: 100%;
			transition: background-size 0.4s ease-in;

			@media #{$up920}{
				background-size: cover;
			}
		}

		& > div:hover {
			background-size: 105%;
			transition: background-size 0.4s ease-in;

			@media #{$up920}{
				background-size: cover;
			}
		}
	}
	
	&__product {
		margin: 15px;
		padding: 30px;
		height: 418px;
		width: 370px;
		box-sizing: border-box; 
		@media #{$up768}{
			height: 300px;
			width: 100%;
			margin: 5px;
		}

		a {				
			position: relative;		
			top: 0;
			transition: top 0.8s ease;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin: 0 auto;
			width: 100%;
			height: 100%;
			color: inherit;				
			font-family: 'Open Sans', sans-serif;
			font-style: italic;
			text-align: center;

			h3 {
				text-transform: inherit;
				font-size: 40px;
				color: $lightElementsColor;
			}

			p {
				position: absolute;
				padding: 2em;
				opacity: 0;
				bottom: 0;
				left: 0;
				width: 100%;
				text-transform: uppercase;
				font-size: 14px;
				-webkit-transition: bottom 0.3s ease; 
				transition: bottom 0.3s ease;
				-webkit-transition: opacity 0.3s ease; 
				transition: opacity 0.3s ease;
				color: $lightElementsColor;
				@media #{$up768}{
					font-size: 12px;
					padding: 1em;
				}
			}

			&:hover {
				top: -40px;
				transition: top 0.6s ease;

				p {
					bottom: 20px;
					transition: bottom 0.6s ease;
					opacity: 1;
					-webkit-transition: opacity 0.6s; 
					transition: opacity 0.6s;
					@media #{$up768}{
						bottom: 5px;
					}
				}
			}
		}

		&.man-collection {
			background: {
				image: 
					linear-gradient($gradientOverlay), 
					url('../img/man.jpg'); 
				repeat: no-repeat; 
				position: center center;
			}
		}
		&.woman-collection {
			background: {
				image: 
					linear-gradient($gradientOverlay), 
					url('../img/woman.jpg'); 
				repeat: no-repeat;
				position: center center;
			} 
		}
		&.watches-collection {
			background: {
				image: 
					linear-gradient($gradientOverlay), 
					url('../img/watch.jpg'); 
				repeat: no-repeat; 
				position: center center;
			}
		}		

		.innerBorder {
			background-color: transparent;
			height: 100%;
			border: 1px $lightElementsColor solid;
		}
	}

	&__sales {
		margin: 15px 15px 0 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 418px;
		width: 570px;
		box-sizing: border-box;
		@media #{$up768}{
			height: 300px;
			width: 100%;
			margin: 5px;
		}

		a {
			display: inline-flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;
			width: 100%;
			color: $lightElementsColor;
			text-align: center;
			font-family: 'Lato', sans-serif;
			font-weight: 900; //black
			font-size: 45px;
			font-size: 4vw;
			font-style: normal;

			&:before, &:after {
				margin: 30px auto;
				display: block;
				width: 105px;
				content: "";
			}

			&:before {
				border-bottom: 1px $lightElementsColor solid;
				transition: transform 0.4s ease-in;
			}

			&:after {
				border-top: 1px $lightElementsColor solid;
				transition: transform 0.4s ease-in;
			}

			&:hover:before {
				transform: translateX(40px) scale(1.2, 1);
				transition: transform 0.4s ease-in;
			} 

			&:hover:after {
				transform: translateX(-40px) scale(1.2, 1);
				transition: transform 0.4s ease-in;
			} 


		}

		&.autumn-collection {
			background: {
				image: 
					linear-gradient($gradientOverlay), 
					url('../img/autumn.jpg'); 
				repeat: no-repeat; 
				position: center center;
			}
		}
		&.spirit-collection {
			background: {
				image: 
					linear-gradient($gradientOverlay), 
					url('../img/spirit.jpg'); 
				repeat: no-repeat; 
				position: center center;
			}
		}	
	}
}

/*Trending Items section */

.trendingItems {
	position: relative;
	background-image: url('../img/itemsbg.jpg');
	background-size: cover;
	padding-bottom: 60px;

	a {
		color: $darkElementsColor;
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		font-weight: bold;
		text-transform: uppercase;
	}

	&__itemsContainer {
		margin: 0 auto;
		overflow: hidden;
		width: 1170px;

		@media #{$up920}{
			width: 880px;
		}

		@media #{$up768}{
			width: 600px;
		}
	}

	&__item {
		display: inline-flex;
		width: 5000px;
		transform: translateX(0);
		transition: transform 0.8s ease-in-out;

		div {
			&.content {
				float: left;
				width: 1170px; //initial width
				height: auto;
				white-space: normal;
				display: flex;

				@media #{$up768}{
					flex-direction: column;
					justify-content: center;
					align-items: center;
				}
			}
		}

		.imgWrapper {
			margin-right: 30px;
			img {
				max-width: 570px;
				height: auto;
				max-height: 570px;
				@media #{$up920}{
					width: 400px;
				}			
			}
		}
	}

	&__details {
		width: 100%;
			@media #{$up920}{
				max-width: 400px;
			}

			@media #{$up768}{
				width: 100%;
			}

		h3 {
			@media #{$up920}{
				margin: 0 0 10px;
			}

			@media #{$up768}{
				margin: 20px 0 10px;
			}
		}

		h4 {
			font-family: 'Open Sans', sans-serif;
			font-weight: 400; //regular
			font-size: 16px;

			&:after {
				margin: 30px 0;
				content: "";
				width: 30px;
				display: block;
				border-top: 1px black solid;

				@media #{$up920}{
					margin: 15px 0;
				}
			}
		}

		p.tip {
			padding-top: 35px;
		}

		& > a {
			margin-right: 30px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			height: 50px;
			width: 170px;
			border: {
				style: solid;
				color: $darkElementsColor;
				width: 1px;
			}

			&:hover, &:focus {
				background-color: $darkElementsColor;
				color: $lightElementsColor;
				-webkit-transition: background-color 0.3s; 
				transition: background-color 0.3s;
			}				

			@media #{$up920}{
					margin: 0 15px 0 0;
				}
		}	

		ul.trendingItems__sizes {
			margin: 90px 0 30px;
			@media #{$up920}{
				margin-top: 30px;
			}
			li {
				margin-right: 30px;
				display: inline-block;
				height: 50px;
				width: 70px;
				border : {
					style: solid;
					color: $darkElementsColor;
					width: 1px;
				}
				-webkit-transition: background-color 0.3s; 
				transition: background-color 0.3s;

				a {
					display: inline-flex;
					justify-content: center;
					align-items: center;
					width: 100%;
					height: 100%;

					&:hover, &:focus {
						background-color: $darkElementsColor;
						color: $lightElementsColor;
						-webkit-transition: background-color 0.3s; 
						transition: background-color 0.3s;
					}
				}

				&.active {
					a {
						color: $lightElementsColor;					
						background-color: $darkElementsColor;
						-webkit-transition: background-color 0.3s; 
						transition: background-color 0.3s;

						&:hover, &:focus {
							background-color: $darkElementsColor;

						}
					}
				}
			}
		}
	}

	ul.chooseItem {
		margin-top: 45px;
		bottom: 0;
		text-align: center;

		li {
			margin: 0 4px;
			width: 12px;
			height: 12px;
			display: inline-flex;
			background-color: $mediumElementsColor;
			border-radius: 50%;
			cursor: pointer;
			
			&.active {
				box-sizing: content-box;
				width: 12px;
				height: 12px;
				border: 2px solid $accentsColor;
				background-color: transparent;
			}
		}
	}
}

/* Blog Preview */

.fromBlog {
	position: relative;
	margin: 0 auto;
	padding-bottom: 60px;

	&__container {
		margin: 0 auto;
		width: 1170px;
		overflow: hidden;

		@media #{$up920}{
			width: 860px;
		}
	}

	&__blog {
		width: 2500px;
		transform: translateX(0);
		transition: transform 0.8s ease-in;
	}

	&__item {
		padding: 0 15px;		
		float: left;
		height: auto;
		width: 500px;

		img {
			width: 100%;
		}

		a {
		  	color:inherit;

		  	&:hover, &:focus {
		  		text-decoration: underline;
		  	}
		 }
	}

	&__info {
		display: inline-flex;
		margin-bottom: 30px;
		font-size: 16px;

		&__author::before {
			content: "By ";
		}

		&__category::before {
			content: "|";
			margin: 0 15px;
		}
	}

	&__text {
		padding: 30px 0;
		border-top: 1px solid $textBorderColor;
		border-bottom: 1px solid $textBorderColor;
		color: $blogTextColor;
	}

	footer {
		margin-top: 30px;

		a {
			display: inline-block;
			padding: 20px 40px;
			border: 1px solid $darkElementsColor;
			color: $darkElementsColor;
			font-family: 'Open Sans', sans-serif;
			font-size: 16px;
			font-weight: bold;

			text-transform: uppercase;

			&:hover, &:focus {
				background-color: $darkElementsColor;
				color: $lightElementsColor;
				-webkit-transition: background-color 0.3s; 
				transition: background-color 0.3s;
				text-decoration: none;
			}
		}
	}

	.blog-nav {
		position: absolute;
		margin: 0 auto;
		top: 50%;
		left: 0;
		right: 0;
		max-width: 1300px;
		display: flex;
		justify-content: space-between;
		text-align: center;
		align-self: center;
		font-size: 50px;

		@media #{$up920}{
			max-width: 1000px;
		}

		* {
			margin: 0 10px;
			color: $arrowsColor;
			background-color: transparent;
			cursor: pointer;

		  	&.disable {
		  		opacity: 0.3;
		  	}
		}
	}
}

/*Subscription form */

.subscribe {
	margin-bottom: 0;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 250px;
	color: $lightElementsColor;
	background: {
		image: 
			-webkit-linear-gradient($gradientOverlay),  
		url('../img/subscriptionbg.jpg');
		image: 
			-o-linear-gradient($gradientOverlay),  
		url('../img/subscriptionbg.jpg');
		image: 
			linear-gradient($gradientOverlay),  
		url('../img/subscriptionbg.jpg');
		size: cover;
		position: center center;
	}

	p {
		margin-bottom: 30px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300; //light
		letter-spacing: 0;
		text-transform: uppercase;
	}

	form {
		display: inline-block;
	}

	input {
		height: 70px;
		width: 770px;
		padding-left: 80px;
		border: 1px solid $lightElementsColor;
		color: $lightElementsColor;
		background: {
			color: transparent;
			image: url('../img/email.png');
			repeat: no-repeat;
			position: 30px center;
		}
		font-family: 'Open Sans', sans-serif;
		font-weight: 300; //light
		font-size: 13px;
		text-transform: uppercase;

		@media #{$up920}{
			width: 560px;
		}

		@media #{$up768}{
			width: 400px;
		}
	}

	button {
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		text-transform: uppercase;
		margin-left: 100px;
		height: 70px;
		width: 270px;

		@media #{$up920}{
			margin-left: 50px;
			width: 200px;
		}

		@media #{$up768}{
			margin-left: 20px;
			width: 150px;
		}

		&:hover {
			background-color: rgba(0, 0, 0, 0.5);
			border: 1px solid $lightElementsColor;
			color: $lightElementsColor;
			-webkit-transition: background-color 0.2s; 
			transition: background-color 0.2s;
		}
	}
}

/* Footer */

body > footer {
	height: 160px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;

	@media #{$up768}{
		height: 60px;
	}

	img {
		margin: 0 5px;
	}
}